html, body {
  font-size: 16px;
}

#root, .app, canvas {
  position: absolute;
  inset: 0;
}

.start-button {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
  padding: .5rem 1rem;
  border: 1.5px solid rgba(255, 255, 255, .5);
  border-radius: 1rem;
  background: none;
  color: white;
  transition: background .25s;
  cursor: pointer;
  &:hover {
    background:rgba(255, 255, 255, .5);
  }

  &.starting {
    opacity: .5;
    pointer-events: none;
  }
}

.webcam {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .25;
  transform: scaleX(-1);
  transition: opacity .5s .5s;
  &.stopped, &.starting {
    opacity: 0;
    transition: opacity .5s;
  }
}

.tracking {
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  &-hand {
    position: absolute;
    &.Left {
      right: 0;
    }
    &.Right {
      left: 0;
    }
  }
  p {
    margin: 0;
    font-size: .75rem;
    font-family: 'Courier New', Courier, monospace;
  }
}

.debug {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .75);
  p {
    font-size: .5rem;
    margin: 0;
  }
}